<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Usuário</title>
</head>
<body>
    <h1>Adicionar Usuário</h1>
    <form action="/add" method="POST">
        <table border="0">
            <tr>
                <td>userName</td>
                <td><input type="text" name="userName" size="40"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="Password" size="40"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="Name" size="40"></td>
            </tr> 
            <tr>
                <td>Email</td>
                <td><input type="text" name="Email" size="40"></td>
            </tr>
            <tr>
                <th colspan="2"><button type="submit">Salvar</button></th> 
            </tr>
        </table>     
    </form>
</body>
</html>