<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar user</title>
</head>
<body>
    <h1>Editar user</h1>
    <form action="/edit/{{cliente.id}}" method="POST">
        <table border="0">
            <tr>
                <td>userName</td>
                <td><input type="text" value="{{cliente.userName}}" name="userName" size="40"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" value="{{cliente.Password}}" name="Password" size="40"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" value="{{cliente.Name}}" name="Name" size="40"></td>
            </tr> 
            <tr>
                <td>Email</td>
                <td><input type="text" value="{{cliente.Email}}" name="Email" size="40"></td>
            </tr> 
            <tr>
                <th colspan="2"><button type="submit">Salvar</button></th> 
            </tr>
        </table>     
    </form>
</body>
</html>