<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
    <h1>user</h1> 
    <a href="/add">Adicionar Usuário</a>
    <br />
    <table border="0" width="70%">
        <thead>
            <tr>
                <th>ID</th>
                <th>userName</th>
                <th>Password</th>
                <th>Name</th>
                <th>Email</th>
       </thead> 
       <tbody>
            {% for c in clientes %}
            <tr>
                <td>{{c.id}}</td>
                <td>{{c.userName}}</td>
                <td>{{c.Password}}</td>
                <td>{{c.Name}}</td>
                <td>{{c.Email}}</td>
                <td>
                    <a href="/edit/{{c.id}}">Editar</a>
                    <a href="/delete/{{c.id}}">Apagar</a>
                </td>    
            </tr>
    {% endfor %}
    </table>  
</body>
</html>
